<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Create New Ticket</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
    <link href="/resources/static/css/create-ticket.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_blue.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

</head>
<body class="bg-light" ng-app="app" ng-controller="CreateTicketController">
<div class="container-fluid">
    <div class="row">
        <div class="col-0 col-sm-2"></div>
        <div class="col-12 col-sm-8">
            <div class="row">
                <div class="form-group col-12 col-sm-6">
                    <form th:action="@{/logout}">
                        <input type="submit" class="btn btn-secondary btn-sm" value="Logout">
                    </form>
                </div>
                <div class="form-group col-0 col-sm-6 text-sm-right">
                    <form th:action="@{/}">
                        <input type="submit" class="btn btn-secondary btn-sm" value="Ticket List">
                    </form>
                </div>
            </div>
            <h3 class="text-primary text-center">Create New Ticket</h3>
            <form name="createTicketForm" method="post" class="form-horizontal" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="form-group">
                        <label for="selectedCategory" class="badge badge-primary ">Category*</label>
                        <select id="selectedCategory" name="selectedCategory"
                                ng-model="category" class="form-control"
                                ng-options="category.name for category in categories" required>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="name" class="badge badge-primary">Name*</label>
                        <input class="form-control" ng-model="name" id="name" name="name" type="text" value="{{name}}"
                               placeholder="Name" maxlength="100"
                               pattern="^[a-z\d~.\x22(),:;<>@!#$%&'*+-=?^_`{|}]{1,100}"
                               required>
                        <small class="text-danger"
                               ng-show="createTicketForm.name.$invalid&&createTicketForm.name.$touched">
                            Invalid name. It is allowed to enter lowercase English alpha characters, digits and special
                            characters:
                            ~."(),:;&#60;&#62;@[]!#$%&'*+-/=?^_`{|}.
                            The maximum number of characters is 100.
                        </small>
                    </div>
                    <div class="form-group">
                        <label class="badge badge-primary" for="selectedUrgency">Urgency*</label>
                        <select id="selectedUrgency" name="selectedUrgency" ng-model="selectedUrgency"
                                ng-init="u = urgency[0]" class="form-control"
                                ng-options="u for u in urgency" required>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="badge badge-secondary" for="description">Description</label>
                        <textarea id="description" name="description" class="form-control" ng-model="description"
                                  rows="4" maxlength="500"
                                  pattern="^[A-Za-z\d~.\x22(),:;<>@!#$%&'*+-=?^_`{|}]{0,500}"></textarea>
                        <small class="text-danger"
                               ng-show="createTicketForm.description.$invalid&&createTicketForm.description.$touched">
                            Wrong, description. It is allowed to enter upper and lowercase English alpha characters,
                            digits and special characters:
                            ~."(),:;&#60;&#62;@[]!#$%&'*+-/=?^_`{|}.
                            The maximum number of characters is 500
                        </small>
                    </div>
                    <div class="form-group">
                        <label class="badge badge-secondary" for="datetimepicker">Desired resolution date</label>
                        <input id="datetimepicker" type="text" ng-model="date" class="form-control">
                        <script th:src="@{/resources/static/js/date-picker.js}"></script>
                    </div>
                    <div class="form-group">
                        <label for="fileInput" class="badge badge-secondary">Select File</label>
                        <input id="fileInput" type="file"
                               class="form-control-file border"
                               accept=".pdf, .doc, .docx, .png, .jpeg, .jpg"
                               onchange="angular.element(this).scope().checkFiles(this)"
                               multiple>
                        <p>
                            <small class="text-danger"
                                   ng-show="isFileSizeNotValid">The size of attached file should not be
                                greater than 5 Mb. Please select another file.
                            </small>
                        </p>

                        <p>
                            <small class="text-danger"
                                   ng-show="isFileExtensionNotValid">The selected file type
                                is not allowed. Please select a file of one of the following types: pdf, png, doc, docx,
                                jpg, jpeg.
                            </small>
                        </p>
                    </div>
                    <div class="form-group">
                        <label class="badge badge-secondary" for="comment">Comment</label>
                        <textarea id="comment" name="comment" class="form-control" ng-model="comment" rows="5"
                                  maxlength="500"
                                  pattern="^[A-Za-z\d~.\x22(),:;<>@!#$%&'*+-=?^_`{|}]{0,500}"></textarea>
                        <small class="text-danger"
                               ng-show="createTicketForm.comment.$invalid&&createTicketForm.comment.$touched">
                            Wrong, comment. It is allowed to enter upper and lowercase English alpha characters, digits
                            and special characters:
                            ~."(),:;&#60;&#62;@[]!#$%&'*+-/=?^_`{|}.
                            The maximum number of characters is 500
                        </small>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6 text-sm-right">
                            <input type="submit" name="saveDraft" class="btn btn-basic"
                                   ng-click="saveAsDraft(createTicketForm.$valid)"
                                   value="Save As Draft"/>
                        </div>
                        <div class="form-group col-sm-6">
                            <input type="submit" name="save" class="btn btn-success"
                                   ng-click="saveNew(createTicketForm.$valid)" value="Save"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <script th:src="@{/resources/static/js/app.js}"></script>
        <script th:src="@{/resources/static/js/controller/create-ticket-controller.js}"></script>
        <script th:src="@{/resources/static/js/service/category-service.js}"></script>
        <script th:src="@{/resources/static/js/service/urgensy-service.js}"></script>
    </div>
    <div class="col-0 col-sm-2"></div>
</div>
</body>
</html>
