<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Feedback</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
    <link href="/resources/static/css/feedback.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
          integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.3/css/star-rating.css"
          integrity="sha256-jqhXFY/VQOgzDK9XBSbrOJCvlk4nhw/i5c3QhxoJOhk=" crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.3/themes/krajee-fa/theme.css"
          integrity="sha256-Zu7IyT6hjpB4rBEomBKePxDl3p6tQCCs4D2HriB2M3g=" crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.3/js/star-rating.js"
            integrity="sha256-viZDNgY92+b1peElVShlXgOhyCB2/dcwRAXk8cwgAZY=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.3/themes/krajee-fa/theme.js"
            integrity="sha256-NCkhSBwdISX7ghg+/wXQWv/CPi2Bmk1gQGiGOkeGnBg=" crossorigin="anonymous"></script>
</head>
<body class="bg-light" ng-app="app" ng-controller="FeedbackController">
<div class="container-fluid">
    <div class="row">
        <div class="col-0 col-sm-2"></div>
        <div class="col-12 col-sm-8">
            <div class="row">
                <div class="form-group col-12 col-sm-3">
                    <div class="form-group">
                        <form th:action="@{/logout}">
                            <input type="submit" class="btn btn-dark btn-sm btn-block" value="Logout">
                        </form>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-dark btn-sm btn-block"
                           th:href="@{/ticket-overview/{{ticketId}}}">Back</a>
                    </div>
                </div>
            </div>
            <form name="feedbackForm">
                <div class="form-group text-center">
                    <h3 class="text-primary text-center">Ticket ({{ticketId}})</h3>
                    <h3 class="text-primary text-center"
                        ng-show="isFeedbackEmpty && currentUser.email == ticket.assignee.email">Not Rated Yet ):</h3>
                    <label for="input-rating" class="text-center"
                           ng-hide="currentUser.email == ticket.assignee.email || !isFeedbackEditAvailable">Please, rate
                        you satisfaction with the
                        solution:</label>
                    <div ng-hide="isFeedbackEmpty && currentUser.email == ticket.assignee.email">
                        <input id="input-rating" name="input-rating" type="text" ng-model="rating"
                               class="rating" data-min="0" data-max="5" data-step="1" data-theme="krajee-fa"
                               data-size="lg">
                    </div>
                    <textarea id="comment" name="comment" class="form-control" ng-model="comment" rows="5"
                              maxlength="500"
                              pattern="^[A-Za-z\d~.\x22(),:;<>@!#$%&'*+-=?^_`{|}]{0,500}"
                              ng-disabled="!isFeedbackEditAvailable"
                              ng-hide="isFeedbackEmpty && currentUser.email == ticket.assignee.email"></textarea>
                    <small class="text-danger"
                           ng-show="feedbackForm.comment.$invalid&&feedbackForm.comment.$touched">
                        Wrong, comment. It is allowed to enter upper and lowercase English alpha characters, digits and
                        special characters:
                        ~."(),:;&#60;&#62;@[]!#$%&'*+-/=?^_`{|}.
                        The maximum number of characters is 500
                    </small>

                </div>
                <div class="form-group text-center">
                    <input type="submit" name="save" class="btn btn-success"
                           ng-click="addFeedback(feedbackForm.$valid, rating, comment)"
                           value="Save"
                           ng-hide="currentUser.email == ticket.assignee.email || !isFeedbackEditAvailable"/>
                </div>
            </form>
        </div>
        <div class="col-0 col-sm-2"></div>
    </div>
</div>
<script th:src="@{/resources/static/js/app.js}"></script>
<script th:src="@{/resources/static/js/controller/feedback-controller.js}"></script>
<script th:src="@{/resources/static/js/service/user-service.js}"></script>
<script th:src="@{/resources/static/js/service/tickets-service.js}"></script>
<script th:src="@{/resources/static/js/service/feedback-service.js}"></script>
</body>
</html>
