<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="/resources/static/css/login.css" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
</head>
<body class="" ng-app="">
<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Login to Help Desk</div>
        <div class="card-body">
            <form name="loginForm" class="form-login" th:action="@{/login}" th:method="post">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input class="form-control" id="email" type="email" name="email" ng-model="email"
                           aria-describedby="emailHelp"
                           placeholder="Enter email" maxlength="100" required
                           pattern="^(?!.*@.*@.*$)(?!.*\..*\..*$)(?!.*\..*@.*$)(.+@.+\..+)$"/>
                </div>
                <div class="input-group">
                    <small class="text-danger" ng-show="loginForm.email.$invalid&&loginForm.email.$touched">
                        Invalid email
                    </small>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input class="form-control" id="password" name="password" ng-model="password" type="password"
                           placeholder="Password" minlength="6" maxlength="20"
                           pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[~.\x22(),:;<>@!#$%&'*+-=?^_`{|}])[A-Za-z\d~.\x22(),:;<>@!#$%&'*+-=?^_`{|}]{6,20}"
                           required>
                </div>
                <div class="input-group">
                    <small class="text-danger" ng-show="loginForm.password.$invalid&&loginForm.password.$touched">
                        Invalid password
                    </small>
                </div>
                <div class="submit-button">
                    <input type="submit" class="btn btn-primary btn-block" value="Login">
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>
</html>
