<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tickets</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
    <link href="/resources/static/css/home.css" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/js/tether.min.js"
            integrity="sha256-m2ByX2d6bw2LPNGOjjELQGPrn6XyouMV9RuVzKhJ5hA=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
</head>
<body class="bg-light" ng-app="app" ng-controller="TicketsController">
<div class="container-fluid">
    <div class="row">
        <div class="col-0 col-sm-2"></div>
        <div class="col-12 col-sm-8">
            <div class="row">
                <div class="form-group col-12 col-sm-6">
                    <form th:action="@{/logout}">
                        <input type="submit" class="btn btn-dark btn-sm" value="Logout">
                    </form>
                </div>
                <div class="form-group col-12 col-sm-6 text-sm-right">
                    <form th:action="@{/createnewticket}">
                        <input ng-hide="currentUser.role == 'ENGINEER'" type="submit" class="btn btn-info btn-sm"
                               value="Create New Ticket">
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12 col-sm-6">
                    <input type="submit" class="btn btn-primary btn-block" ng-click="showAllTickets()"
                           value="All Tickets">
                </div>
                <div class="form-group col-12 col-sm-6">
                    <input type="submit" class="btn btn-primary btn-block" ng-click="showMyTickets()"
                           value="My Tickets">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12 col-sm-7">
                    <form id="searchForm" name="searchForm">
                        <div class="row">
                            <div class="form-group col-12 col-sm-2">
                                <span for="search" class="badge badge-light">Search</span>
                            </div>
                            <div class="form-group col-12 col-sm-10">
                                <input class="form-control" id="search" name="search" type="text" ng-model="searchInput"
                                       placeholder="Search..." maxlength="100"
                                       pattern="^[A-Za-z\d~.\x22(),:;<>@!#$%&'*+-=?^_`{|}]{0,100}"
                                       ng-keyup="searchTicket(searchForm.search.$valid, searchInput)">
                                <small class="text-danger"
                                       ng-show="searchForm.search.$invalid">
                                    Wrong, search string. It is allowed to enter upper and lowercase English alpha
                                    characters, digits and special characters:
                                    ~."(),:;&#60;&#62;@[]!#$%&'*+-/=?^_`{|}.
                                </small>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="form-group col-12 col-sm-1">
                    <span for="sortBy" class="badge badge-light">Sort By</span>
                </div>
                <div class="form-group col-12 col-sm-4 text-right">
                    <select id="sortBy" class="form-control" ng-init="selectedSort = 'id'"
                            ng-model="selectedSort" ng-change="switchSortType(selectedSort)">
                        <option value="id">Id</option>
                        <option value="name">Name</option>
                        <option value="desiredDate">Desired Date</option>
                        <option value="urgency">Urgency</option>
                        <option value="status">Status</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-0 col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-12 col-sm-10 table-responsive-xl">
            <table id="ticketsTable" class="table table-striped table-sm table-hover">
                <thead class="thead-light">
                <tr>
                    <th ng-click="switchSortType('id')">Id</th>
                    <th ng-click="switchSortType('name')">Name</th>
                    <th ng-click="switchSortType('desiredDate')">Desired Date</th>
                    <th ng-click="switchSortType('urgency')">Urgency</th>
                    <th ng-click="switchSortType('status')">Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="ticket in tickets">
                    <td>{{ticket.id}}</td>
                    <td class="truncated">
                        <div><a class="text"
                                title="{{ticket.name}}"
                                th:href="@{ticket-overview/{{ticket.id}}}">{{ticket.name}}</a>
                        </div>
                    </td>
                    <td>{{ticket.desiredResolutionDate}}</td>
                    <td>{{ticket.urgency}}</td>
                    <td>{{ticket.state}}</td>
                    <td>
                        <div class="row">
                            <div class="col-8">
                                <select id="selectAction" ng-disabled="!isSubmitAvailable(ticket)
                                && !isApproveAvailable(ticket) && !isCancelAvailable(ticket)
                                && !isDeclineAvailable(ticket) && !isAssignAvailable(ticket)
                                && !isDoneAvailable(ticket)" class="form-control text-right" ng-init=""
                                        ng-model="action">
                                    <option value="submit" ng-show="isSubmitAvailable(ticket)">
                                        Submit
                                    </option>
                                    <option value="approve"
                                            ng-show="isApproveAvailable(ticket)">
                                        Approve
                                    </option>
                                    <option value="cancel" ng-show="isCancelAvailable(ticket)">Cancel
                                    </option>
                                    <option value="decline"
                                            ng-show="isDeclineAvailable(ticket)">
                                        Decline
                                    </option>
                                    <option value="assign" ng-show="isAssignAvailable(ticket)">Assign to Me</option>
                                    <option value="done" ng-show="isDoneAvailable(ticket)">Done</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <input type="submit" class="btn btn-success btn-sm btn-block"
                                       ng-click="action = doAction(ticket, action)"
                                       ng-disabled="(!isSubmitAvailable(ticket)
                                           && !isApproveAvailable(ticket) && !isCancelAvailable(ticket)
                                           && !isDeclineAvailable(ticket) && !isAssignAvailable(ticket)
                                           && !isDoneAvailable(ticket)) || action == undefined" value="Ok">
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>
<script th:src="@{/resources/static/js/app.js}"></script>
<script th:src="@{/resources/static/js/controller/tickets-controller.js}"></script>
<script th:src="@{/resources/static/js/service/tickets-service.js}"></script>
<script th:src="@{/resources/static/js/service/user-service.js}"></script>
</body>
</html>
