<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ticket Overview</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
    <link href="/resources/static/css/ticket-overview.css" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
</head>
<body class="bg-light" ng-app="app" ng-controller="TicketOverviewController">
<div class="container-fluid">
    <div class="row">
        <div class="col-0 col-sm-2"></div>
        <div class="col-12 col-sm-8">
            <div class="row">
                <div class="form-group col-12 col-sm-3">
                    <div class="form-group">
                        <form th:action="@{/logout}">
                            <input type="submit" class="btn btn-dark btn-sm btn-block" value="Logout">
                        </form>
                    </div>
                    <div class="form-group">
                        <form th:action="@{/}">
                            <input type="submit" class="btn btn-info btn-sm btn-block" value="Ticket List">
                        </form>
                    </div>
                </div>
                <div class="col-12 col-sm-6"></div>
                <div class="form-group col-0 col-sm-3 text-sm-right">
                    <div class="form-group" ng-show="isEditAvailable()">
                        <a class="btn btn-secondary btn-sm btn-block" th:href="@{/edit-ticket/{{ticketId}}}">Edit</a>
                    </div>
                    <div class="form-group" ng-show="isFeedbackAvailable()">
                        <a class="btn btn-secondary btn-sm btn-block"
                           th:href="@{/leave-feedback/{{ticketId}}}">Feedback</a>
                    </div>
                </div>
            </div>
            <h3 class="text-primary text-center">Ticket ({{ticketId}})</h3>
            <div class="form-group">
                <div class="form-group">
                    <h5 id="name"><span class="text-primary">Name: </span>{{ticket.name}}</h5>
                </div>
                <div class="form-group">
                    <h5 id="createdOn"><span class="text-primary">Created On: </span>{{ticket.createdOn}}</h5>
                </div>
                <div class="form-group">
                    <h5 id="status"><span class="text-primary">Status: </span>{{ticket.state}}</h5>
                </div>
                <div class="form-group">
                    <h5 id="category"><span class="text-primary">Category: </span>{{ticket.category.name}}</h5>
                </div>
                <div class="form-group">
                    <h5 id="urgency"><span class="text-primary">Urgency: </span>{{ticket.urgency}}</h5>
                </div>
                <div class="form-group">
                    <h5 id="desiredDate"><span class="text-primary">Desired Resolution Date: </span>{{ticket.desiredResolutionDate}}
                    </h5>
                </div>
                <div class="form-group">
                    <h5 id="owner"><span class="text-primary">Owner: </span>{{ticket.owner.firstName}}
                        {{ticket.owner.lastName}}</h5>
                </div>
                <div class="form-group">
                    <h5 id="approver"><span class="text-primary">Approver: </span>{{ticket.approver.firstName}}
                        {{ticket.approver.lastName}}</h5>
                </div>
                <div class="form-group">
                    <h5 id="assignee"><span class="text-primary">Assignee: </span>{{ticket.assignee.firstName}}
                        {{ticket.assignee.lastName}}</h5>
                </div>
                <div class="form-group">

                </div>
                <div class="form-group">
                    <label for="attachments" class="badge badge-primary ">Attachments</label>
                    <div class="row">
                        <ul id="attachments" class="list-inline" ng-repeat="attachment in attachments">
                            <li class="list-inline-item"><a class="form-control"
                                                            th:href="@{/attachments/get-attachment/{{attachment.id}}}"
                                                            target="_blank"
                                                            title="Download {{attachment.name}}">{{attachment.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="badge badge-primary ">Description</label>
                    <textarea id="description" class="form-control" rows="4" disabled>{{ticket.description}}</textarea>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-sm-6">
                        <input type="submit" class="btn btn-primary btn-block" ng-click="showHistory()"
                               value="History">
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <input type="submit" class="btn btn-primary btn-block" ng-click="showComments()"
                               value="Comments">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <table id="historyTable" ng-show="isHistoryTableAvailable"
                       class="table table-striped table-sm table-hover">
                    <thead class="thead-light">
                    <tr>
                        <th ng-click="switchSortType('historyTable', 'date')">Date</th>
                        <th ng-click="switchSortType('historyTable', 'user')">User</th>
                        <th ng-click="switchSortType('historyTable', 'action')">Action</th>
                        <th ng-click="switchSortType('historyTable', 'description')">Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="historyItem in history">
                        <td>{{historyItem.date}}</td>
                        <td>{{historyItem.user.firstName}} {{historyItem.user.lastName}}</td>
                        <td>{{historyItem.action}}</td>
                        <td>{{historyItem.description}}</td>
                    </tr>
                    </tbody>
                </table>
                <input type="submit" class="btn btn-primary" ng-click="showAllHistory()"
                       ng-show="isHistoryTableAvailable" value="Show All">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" ng-click="showAllComments()"
                       ng-show="isCommentsTableAvailable" value="Show All">
                <table id="commentsTable" ng-show="isCommentsTableAvailable"
                       class="table table-striped table-sm table-hover">
                    <thead class="thead-light">
                    <tr>
                        <th ng-click="switchSortType('commentsTable', 'date')">Date</th>
                        <th ng-click="switchSortType('commentsTable', 'user')">User</th>
                        <th ng-click="switchSortType('commentsTable', 'text')">Text</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="comment in comments">
                        <td>{{comment.date}}</td>
                        <td>{{comment.user.firstName}} {{comment.user.lastName}}</td>
                        <td>{{comment.text}}</td>
                    </tr>
                    </tbody>
                </table>
                <form id="addCommentForm" name="addCommentForm" class="form-horizontal">
                     <textarea id="comment" name="comment" ng-show="isCommentsTableAvailable" class="form-control"
                               rows="4" ng-model="commentText"
                               placeholder="Enter Some Text"
                               pattern="^[A-Za-z\d~.\x22(),:;<>@!#$%&'*+-=?^_`{|}]{0,500}"></textarea>
                    <p>
                        <small class="text-danger"
                               ng-show="addCommentForm.comment.$invalid">
                            Wrong, comment. It is allowed to enter upper and lowercase English alpha characters, digits
                            and special characters:
                            ~."(),:;&#60;&#62;@[]!#$%&'*+-/=?^_`{|}.
                            The maximum number of characters is 500
                        </small>
                    </p>
                    <input type="submit" class="btn btn-primary" ng-click="addComment(addCommentForm.$valid)"
                           ng-show="isCommentsTableAvailable" value="Add Comment">
                </form>
            </div>
        </div>
        <div class="col-0 col-sm-2"></div>
    </div>
</div>
<script th:src="@{/resources/static/js/app.js}"></script>
<script th:src="@{/resources/static/js/controller/ticket-overview-controller.js}"></script>
<script th:src="@{/resources/static/js/service/tickets-service.js}"></script>
<script th:src="@{/resources/static/js/service/attachments-service.js}"></script>
<script th:src="@{/resources/static/js/service/history-service.js}"></script>
<script th:src="@{/resources/static/js/service/comment-service.js}"></script>
<script th:src="@{/resources/static/js/service/user-service.js}"></script>
</body>
</html>
