body{
    padding-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.input-group{
    max-width: 600px;
    padding-top: 10px;
    margin: 0 auto;
    text-align: start;
}

.submit-button{
    padding-top: 10px;
    max-width: 600px;
    margin: 0 auto;
}

.card-header{
    text-align: center;
    font-size: x-large;
    padding-bottom: 30px;
}
