body{
    padding-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 10%;
}

.input-group{
    padding-top: 10px;
    margin: 0 auto;
    text-align: start;
}

.card-header{
    text-align: center;
    font-size: x-large;
    padding-bottom: 30px;
}