<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Ticket For Approval</title>
</head>
<body>
<p align="center">
<h1 th:text="'Dear '+${recipient.firstName}+' '+${recipient.lastName}+','"></h1></p>
<h3 align="center">Ticket <a th:href="${ticketOverviewPattern}+${ticketId}" th:text="${ticketId}"></a> was done by the
    Engineer.</h3>
<p>Please provide your feedback clicking on the ticket ID.
</p>
</body>
</html>