<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ticket was declined</title>
</head>
<body>
<p align="center">
<h1 th:text="'Dear '+${recipient.firstName}+' '+${recipient.lastName}+','"></h1></p>
<h3 align="center">Ticket <a th:href="${ticketOverviewPattern}+${ticketId}" th:text="${ticketId}"></a> was declined by
    the Manager.
</h3>
</body>
</html>